<header>
  <div class="info-route">
    <h1 class="page">{{page}}</h1>
    <h2 class="breadcrumb">
      {{breadcrumb}}
    </h2>
  </div>
  <div class="info-user">
    <div class="badge">
      <mat-icon
        inline="true"
        class="icon"
        matBadge="15"
        matBadgeSize="small"
        matBadgeColor="warn"
        >notifications</mat-icon
      >
    </div>
    <button>VIACREDI</button>
    <div class="perfil">
      <a href="">
        <div class="user">
          <img
            height="40"
            src="../../../assets/images/profile.jpeg"
            alt="Imagem Perfil"
          />
        </div>
        <mat-icon class="user-settings">settings</mat-icon>
      </a>
    </div>
  </div>
</header>
